<div style="width:50%;">
{{#ember-selectize selection=book.title}}
	{{validation-tooltip 
	inputFinder="siblings"
	inputSelector="selectize-control"
	submitted=submitted valid=titleValidation}}
{{/ember-selectize}}
</div>
<hr/>
{{#input value=book.title class="form-control"}}
	{{validation-tooltip message="Please enter a name" submitted=submitted valid=titleValidation}}
{{/input}}
<hr>
<button {{action "submit"}}>Submit</button>

{{submitted}}
